<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617935875537-dj6s35mqgf735d03l1r7ajkqdosvu4ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617935875537-dj6s35mqgf735d03l1r7ajkqdosvu4ak</string>
	<key>API_KEY</key>
	<string>AIzaSyA22hwNWf-Wzv6JtQKvFi3NGLrcRbJj0Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>617935875537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rifluxyss.InstagramBeta</string>
	<key>PROJECT_ID</key>
	<string>instagrambeta-686e2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagrambeta-686e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617935875537:ios:584a2552cd2b89f50a84f0</string>
</dict>
</plist>